<h1>Announcements</h1>
<div style="margin-top:1.5em;text-align:right;">
    <button class="button-primary" onclick="toggleModal('new-announcement')" >New Announcement</button>
</div>
<div class="modal hidden" id="new-announcement">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-announcement')">&times;</div>
        <h2>New Announcement</h2>
        <%= render 'announcement/new' %>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Type</th>
            <th>Sender</th>
            <th>Options</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @announcements.each_with_index do |announcement, index| %>
            <tr>
                <td><%= announcement.title%></td>
                <td><%= truncate(announcement.content, :length => 80) %></td>
                <td><%= (announcement.created_at).strftime("%I:%M%p, %d %b. %Y") %></td>
                <td>
                    <% if announcement.sms && announcement.email %>
                        <%= 'Both' %>
                    <% elsif announcement.sms%>
                        <%= 'SMS' %>
                    <% elsif announcement.email%>
                        <%= 'Email' %>
                    <% end %>
                </td>
                <td><%= announcement.sender %></td>
                <td>
                    <%= button_to 'Delete', { action: 'destroy', id: announcement.id }, method: :delete, class: 'button-danger'%>
                </td>
                <td>
                    <button class="button-primary" onclick="toggleModal('show-announcement-<%= index %>')">Show</button>
                    <div class="modal hidden" id="show-announcement-<%= index %>">
                    <div class="modal-content">
                        <div class="modal-close" onclick="toggleModal('show-announcement-<%= index %>')">&times;</div>
                        <%= render partial: 'show', locals: {announcement: announcement} %>
                        </div>
                    </div>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>