<h1>Announcements</h1>
<div style="float:right;">
    <button class="button-primary" onclick="toggleModal('new-announcement')" >New Announcement</button>
</div>
<div class="info-block-wrapper" style="margin-top:1em;">
    <div class="info-block">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Sender</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% @announcements.each_with_index do |announcement, index| %>
                    <tr>
                        <td><%= announcement.title%></td>
                        <td><%= (announcement.created_at).strftime("%b %-d, %Y at %-I:%M%p") %></td>
                        <td>
                            <% if announcement.sms && announcement.email %>
                                <%= 'SMS, Email' %>
                            <% elsif announcement.sms%>
                                <%= 'SMS' %>
                            <% elsif announcement.email%>
                                <%= 'Email' %>
                            <% end %>
                        </td>
                        <td><%= announcement.sender %></td>
                        <td>
                            <%= button_to 'Delete', { action: 'destroy', id: announcement.id }, method: :delete, class: 'button-danger'%>
                            <button class="button-primary" onclick="toggleModal('show-announcement-<%= index %>')">View</button>
                            <div class="modal hidden" id="show-announcement-<%= index %>">
                            <div class="modal-content">
                                <div class="modal-close" onclick="toggleModal('show-announcement-<%= index %>')">&times;</div>
                                <%= render partial: 'show', locals: {announcement: announcement} %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="modal hidden" id="new-announcement">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-announcement')">&times;</div>
        <h2>New Announcement</h2>
        <%= render 'announcement/new' %>
    </div>
</div>