<h1>Announcements</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% @announcements.reverse.each do |announcement| %>
            <tr>
                <td style="text-decoration: none;"><%= link_to announcement.title, {:action => 'show', :id => announcement.id}%></td>
                <td><%= truncate(announcement.content, :length => 80) %></td>
                <td><%= (announcement.created_at).strftime("%I:%M%p, %d %b. %Y") %></td>
                <td>
                    <% if announcement.sms && announcement.email %>
                        <%= 'Both' %>
                    <% elsif announcement.sms%>
                        <%= 'SMS' %>
                    <% elsif announcement.email%>
                        <%= 'Email' %>
                    <% end %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>