<h1>Announcements</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Type</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @announcements.reverse.each do |announcement, index| %>
            <tr>
                <td><%= announcement.title%></td>
                <td><%= truncate(announcement.content, :length => 80) %></td>
                <td><%= (announcement.created_at).strftime("%I:%M%p, %d %b. %Y") %></td>
                <td>
                    <% if announcement.sms && announcement.email %>
                        <%= 'Both' %>
                    <% elsif announcement.sms%>
                        <%= 'SMS' %>
                    <% elsif announcement.email%>
                        <%= 'Email' %>
                    <% end %>
                </td>
                <td>
                <button class="button-primary" onclick="toggleModal('show-announcement-<%= index %>')">Show</button>
                <div class="modal hidden" id="show-announcement-<%= index %>">
                <div class="modal-content">
                    <div class="modal-close" onclick="toggleModal('show-announcement-<%= index %>')">&times;</div>
                    <%= render partial: 'show', locals: {announcement: announcement} %>
                    </div>
                </div>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>