<div class="info-block-wrapper centered">
    <div class="info-block">
        <h2>Forgot your password?</h2>
        <p>Enter your email address to reset your password. You may need to check your spam folder.</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.label :email, class: 'hidden' %><br />
            <%= f.email_field :email, autofocus: true, class: 'input' %>
            <div style="margin-top:1.5em;">
                <%= f.submit "Submit", class: 'button-primary' %>
            </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
</div>