<div class='center-wrapper'>
    <div class="info-block-outer-wrapper" style="width: 28em;">
        <div class="info-block-inner-wrapper">
            <div class="info-block-title">
                <h2>Forgot your password?</h2>
            </div>
            <div class='info-block-content'>
              <p style='display: inline-block; margin-top: 0.5em'>
                Enter your email address to reset your password. You may need to check
                your spam folder.
              </p>
                <div class='info-block-input' style='padding-top: 0em'>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                        <%= devise_error_messages! %>
                        <div class="field">
                            <%= f.label :email, class: 'hidden' %><br />
                            <%= f.email_field :email, autofocus: true, class: 'input' %>
                        </div>

                        <div class="actions">
                            <%= f.submit "Submit", class: 'button-primary' %>
                        </div>
                    <% end %>
                    <br />
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>
