<h2>New Event</h2>
<%= form_tag do %>
    <%= label_tag(:name, "Name:") %>
    <%= text_field_tag(:name) %>
    <%= label_tag(:time, "Time:") %>
    <%= time_field(:time, :start) %> to <%= time_field(:time, :end) %>
    <%= label_tag("Days repeated:") %>
    <div class="check-box-group">
        <% %w(sun mon tue wed thur fri sat).each do |day| %>
        <div class="check-box-group-item">
            <%= check_box_tag day, true %>
            <%= label_tag day.capitalize %>
        </div>
        <% end %>
    </div>
    <div style="margin-top:1.5em;text-align:right;">
        <button class="button-default" onclick="toggleModal('new-event')">Cancel</button>
        <%= submit_tag("Add Event", class: "button-primary") %>
    </div>
<% end %>