<h1>Schedule</h1>
<div class="calendar-container">
    <div class="timeline">
        <div class="timeline-entry"><span>6 AM</span></div>
        <div class="timeline-entry"><span>7 AM</span></div>
        <div class="timeline-entry"><span>8 AM</span></div>
        <div class="timeline-entry"><span>9 AM</span></div>
        <div class="timeline-entry"><span>10 AM</span></div>
        <div class="timeline-entry"><span>11 AM</span></div>
        <div class="timeline-entry"><span>12 AM</span></div>
        <div class="timeline-entry"><span>1 PM</span></div>
        <div class="timeline-entry"><span>2 PM</span></div>
        <div class="timeline-entry"><span>3 PM</span></div>
        <div class="timeline-entry"><span>4 PM</span></div>
        <div class="timeline-entry"><span>5 PM</span></div>
        <div class="timeline-entry"><span>6 PM</span></div>
        <div class="timeline-entry"><span>7 PM</span></div>
        <div class="timeline-entry"><span>8 PM</span></div>
        <div class="timeline-entry"><span>9 PM</span></div>
        <div class="timeline-entry"><span>10 PM</span></div>
    </div>
    <div class="events">
        <% (0..6).each do |i| %>
        <div class="events-group">
            <div class="events-group-label"><span>Sunday</span></div>
            <% @schedule.events_on_day(i).each do |event| %>
                <div class="single-event" data-start-hour="<%= event.start.hour %>" data-start-min="<%= event.start.min %>" data-end-hour="<%= event.end.hour %>" data-end-min="<%= event.end.min %>">
                    <span class="single-event-label"><%= event.name %></span>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
<div class="schedule-table-container">
    <table class="schedule-table">
        <thead>
            <tr><th colspan="4">Events</th></tr>
        </thead>
        <tbody>
            <% if @schedule.event %>
            <% @schedule.event.each do |event| %>
                <tr>
                    <td><%= event.name %></td>
                    <td><%= "#{event.start.strftime("%I:%M%p")} - #{event.end.strftime("%I:%M%p")}" %></td>
                    <td><%= event.days_as_string %></td>
                    <td style="text-align:right;">
                        <%= button_to 'Remove', { event_id: event.id }, method: :delete, class: 'button-danger'%>
                    </td>
                </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    
</div>
<div style="margin-top:1.5em;text-align:right;">
    <button class="button-primary" onclick="toggleModal('new-event')" style="margin-top:1.5em;">New Event</button>
</div>
<div class="modal hidden" id="new-event">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-event')">&times;</div>
        <h2>New Event</h2>
        <%= form_tag do %>
            <%= label_tag(:name, "Name:") %>
            <%= text_field_tag(:name) %><br>
            <%= label_tag(:time, "Time:") %>
            <%= time_field(:time, :start) %> to <%= time_field(:time, :end) %><br>
            <% %w(sun mon tue wed thur fri sat).each do |day| %>
                <%= check_box_tag day, true %>
                <%= label_tag day.capitalize %>
            <% end %><br>
            <%= submit_tag("Add Event") %>
        <% end %>
        <div style="margin-top:1.5em;text-align:right;">
            <button class="button-default" onclick="toggleModal('new-event')">Cancel</button>
            <button class="button-primary">Add Event</button>
        </div>
    </div>
</div>
