<table class="table table-bordered table-striped one">
  <thead>
    <tr>
      <th><font size="5">Announcements</font></th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.limit(5).reverse.each_with_index do |announcement, index| %>
      <tr>
        <td><%= announcement.title %></td>
        <td><%= truncate(announcement.content, :length => 80) %></td>
        <td>
          <button class="button-primary" onclick="toggleModal('show-announcement-<%= index %>')">Show</button>
          <div class="modal hidden" id="show-announcement-<%= index %>">
          <div class="modal-content">
            <div class="modal-close" onclick="toggleModal('show-announcement-<%= index %>')">&times;</div>
            <%= render partial: 'announcement/show', locals: {announcement: announcement} %>
            </div>
        </div>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
