<div class="info-block-wrapper">
    <div class="info-block">
        <h2>Support Services</h2>
        <div class="support-services">
            <%= link_to 'Academic Services', 'https://wisc.gradesfirst.com/home/', class: 'button-primary support-services-link' %>
            <%= link_to 'Compliance Forms', 'https://college.jumpforward.com/studentAthlete/Default.aspx/', class: 'button-primary support-services-link' %>
            <%= link_to 'Sports Medicine', 'https://uwma.medicatconnect.com/home.aspx', class: 'button-primary support-services-link' %>
            <%= link_to 'Administration Forms', 'https://badgernet.athletics.wisc.edu/athleteAdminForms.aspx', class: 'button-primary support-services-link' %>
            <%= link_to 'BuckyNet/Job Board', 'https://ath-wisc-csm.symplicity.com/students/index.php?s=home', class: 'button-primary support-services-link' %>
            <%= link_to 'Performance Nutrition', 'https://www.myuwbadgers.com/access.aspx?memid=irUW2repp7E=&service=PN', class: 'button-primary support-services-link' %>
            <%= link_to 'Badgers Give Back', 'https://www.volgistics.com/ex2/vicnet.dll/?from=324864', class: 'button-primary support-services-link' %>
            <%= link_to 'Guest Management/Tickets', 'http://www.nmnathletics.com/HomePage.dbml?DB_OEM_ID=21000', class: 'button-primary support-services-link' %>
        </div>
    </div>
</div>
