<div class="info-block-wrapper centered">
    <div class="info-block">
        <h2>Settings</h2>
        <%= form_for @user, url: "/settings/#{@user.id}", method: :put do |f| %>
        <%= f.label "First Name" %>
        <%= f.text_field :first_name, class: 'input' %>
        <%= f.label "Last Name" %>
        <%= f.text_field :last_name, class: 'input' %>
        <%= f.label "Phone Number" %>
        <%= f.text_field :phone, class: 'input' %>
        <div style="margin-top:1.5em;">
            <%= f.submit "Update Profile", class: 'button-primary' %>
        </div>
        <% end %>
    </div>
</div>
