<h1>Contacts</h1>
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <!--for each user -->
            <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><select>
                  <optgroup label="Groups in" disabled=true>
                  <% user.roles.each do |role|%>
                  <option><%=role.name%></option>
                  <% end %>
                </optgroup>
                <optgroup label="Other Groups">
                <% @roles.each do |role|%>
                <%if !user.roles.include?(role)%>
                <option ><%=link_to role.name, @update_user_path_role_path, method: :update%></option>


                <% end %>
                <% end %>
              </optgroup>
                </select>
              </td>
              <td>
                 <button class="button-primary">Add</button>
                 <%= button_to 'Update Assign', method: :assign, class: 'button-danger'%>
               </td>
            </tr>

        <% end %>
    </tbody>
</table>

<div style="margin-top:1.5em;text-align:right;">
    <button class="button-primary" onclick="toggleModal('new-user')" style="margin-top:1.5em;">New User</button>
</div>
<div class="modal hidden" id="new-user">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-user')">&times;</div>
        <h2>New Event</h2>
        <form>
            <label for="l_name">First Name:</label>
            <input name="f_name" type="text">
<br/>
            <label for="l_name">Last Name:</label>
            <input name="l_name" type="text">
<br/>
            <label for="phone">Phone Number:</label>
            <input name="phone" type="text">
<br/>
            <label for="email"> Email Address:</label>
            <input name="email" type="text">
<br/>
            <label for="Coach"> Coach:</label>
            <input type="radio" name="permission" value="is_coach">
<br/>
            <label for="Athlete"> Student:</label>
            <input type="radio" name="permission" value="is_athlete">
        </form>

        <div style="margin-top:1.5em;text-align:right;">
            <button class="button-default" onclick="toggleModal('new-event')">Cancel</button>
            <button class="button-primary">Add Event</button>
        </div>
    </div>
</div>
