<h1>Contacts</h1>
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <!--for each user -->
            <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
              </tr>
              <tr>

                <td>Roles in</td>
                          <% user.roles.each do |role|%>
                          <td>
                            <%= button_to role.name, {action: 'update', id: user.id, role: role.id}, method: :put, class:"button-danger"%>

                          </td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>other roles</td>
                        <% @roles.each do |role|%>
                        <%if !user.roles.include?(role)%>
                        <td >
                        <%= button_to role.name, {action: 'update', id: user.id, role: role.id}, method: :put, class:"button-danger"%>
                        </td>

                        <% end %>
                        <% end %>
</tr>
<tr><td></td></tr>

        <% end %>
    </tbody>
</table>

<div style="margin-top:1.5em;text-align:right;">
    <button class="button-primary" onclick="toggleModal('new-event')" style="margin-top:1.5em;">New Event</button>
</div>
<div class="modal hidden" id="new-event">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-event')">&times;</div>
        <h2>New Team</h2>
        <%= form_tag do %>
            <%= label_tag(:name, "Name:") %>
            <%= text_field_tag(:name) %><br>


            <%= button_to "Add Role", {action: 'create', name: :name}, method: :post, class:"button-danger"%>

        <% end %>
        <div style="margin-top:1.5em;text-align:right;">
            <button class="button-default" onclick="toggleModal('new-event')">Cancel</button>
        </div>
    </div>
</div>
