<%= form_for @document, url: { action: "create" } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name,:required => 'required' %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment,:required => 'required' %>
    <%= render 'shared/roles' %>
    <div style="margin-top:1.5em;text-align:right;">
        <button class="button-default" onclick="toggleModal('new-document')">Cancel</button>
        <%= f.submit "Add Document", class: "button-primary" %>
    </div>
<% end %>
