

<div class="well">
  <%= form_for @document, url: { action: "create" } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </br>
    <%= f.label :attachment %>
    <%= f.file_field :attachment,:required => 'required' %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
