<h1>User Permissions</h1>
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Permissions</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr>
                <td><%= u.first_name.capitalize %></td>
                <td><%= u.last_name.capitalize %></td>
                <td><%= u.email %></td>
                <td>
                    <% if u.has_role? :coach %>
                        <%= 'Coach' %>
                    <% else %>
                        <%= 'Athlete' %>
                    <% end %>
                </td>
                <td>
                    <button href="#" class="button-primary">Edit</button>
                    <%= button_to 'Delete', { action: 'destroy', id: u.id }, method: :delete, class: 'button-danger'%>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>