<h1>User Permissions</h1>
<button class='button-primary' onclick="toggleModal('new-user')">Invite New User</button>
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Permissions</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr>
                <td>
                  <% if u.first_name %>
                    <%= u.first_name.capitalize %>
                  <% else %>
                    <i>Pending Invite<i>
                  <% end %>
                </td>
                <td><%= u.last_name.capitalize if u.last_name %></td>
                <td><%= u.email %></td>
                <td>
                    <% if u.has_role? :coach %>
                        <%= 'Coach' %>
                        <a href='' class='edit-permissions'>Make Athlete</a>
                    <% else %>
                        <%= 'Athlete' %>
                        <a href='' class='edit-permissions'>Make Coach</a>
                    <% end %>
                </td>
                <td>
                    <%= button_to 'Delete', { action: 'destroy', id: u.id }, method: :delete, class: 'button-danger'%>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>

<div class="modal hidden" id="new-user">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-user')">&times;</div>
        <h2>New User</h2>
        <%= form_tag("/permissions", method: "post") do %>
            <%= label_tag :email, "Email" %>
            <%= text_field_tag :email, '', class: 'input' %>
            <%= radio_button_tag :role, 'athlete', checked: true %>
            <%= label_tag :role, 'Athlete', value: 'athlete' %>
            <br />
            <%= radio_button_tag :role, 'coach' %>
            <%= label_tag :role, 'Coach', value: 'coach' %>
            <div style="margin-top:1.5em;text-align:right;">
                <%= button_tag 'Cancel', type: :reset, class: 'button-default', onclick: "toggleModal('new-user')" %>
                <%= submit_tag('Add User', class: 'button-primary') %>
            </div>
        <% end %>
    </div>
</div>
