<h1>View and Manage User Permissions</h1>
<% @users.each do |u| %>
  <figure class="user_card">
    <figcaption>
      <h2>
        <%= u.first_name.capitalize + ' ' + u.last_name.capitalize %>
        <span class='email' ><%= u.email %></span>
        <span class='role'>
          <% if u.has_role? :coach %>
            <%= 'Coach' %>
          <% else %>
            <%= 'Athlete' %>
          <% end %>
        </span>
      </h2>
      <a href="#" class="edit">Edit</a>
      <%= link_to 'delete', { action: 'destroy', id: u.id }, method: :delete %>
    </figcaption>
  </figure>
<% end %>
