<h1 style='display: inline-block'>User Permissions</h1>
<button class='button-primary' style='float: right; margin: 1.25em 0 0 0;' onclick="toggleModal('new-user')">Invite New User</button>
<div id='users'>
    <input class='search input' placeholder='Search' />
    <strong>Sort By:</strong>
    <button class='sort button-primary' data-sort='first_name'>First Name</button>
    <button class='sort button-primary' data-sort='last_name'>Last Name</button>
    <button class='sort button-primary' data-sort='last_name'>Email</button>
    <button class='sort button-primary' data-sort='last_name'>Role</button>
    <table>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Permissions</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody class='list'>
            <% @users.each do |u| %>
                <tr>
                    <td class='first_name'>
                      <% if u.first_name %>
                        <%= u.first_name %>
                      <% else %>
                        <i>Pending Invite<i>
                      <% end %>
                    </td>
                    <td class='last_name'><%= u.last_name.capitalize if u.last_name %></td>
                    <td class='email'><%= u.email %></td>
                    <td class='role'>
                        <% if u.has_role? :coach %>
                            <%= 'Coach' %>
                            <%= link_to "Make Athlete", permission_path(id: u.id),  method: :put, class: 'edit-permissions' %>
                        <% else %>
                            <%= 'Athlete' %>
                            <%= link_to "Make Coach", permission_path(id: u.id), method: :put, class: 'edit-permissions' %>
                        <% end %>
                    </td>
                    <td>
                        <%= button_to 'Delete', { action: 'destroy', id: u.id }, method: :delete, class: 'button-danger'%>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>
</div>
<script type="text/javascript">
var options = {
    valueNames: [ 'first_name', 'last_name', 'email', 'role' ]
};
var usersList = new List('users', options)
</script>

<div class="modal hidden" id="new-user">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-user')">&times;</div>
        <h2>Invite New User</h2>
        <%= form_tag("/permissions", method: "post") do %>
            <%= label_tag :email, 'Email' %>
            <%= text_field_tag :email, '', class: 'input' %>
            <%= label_tag 'Type' %>
            <div class="check-box-group">
                <div class="check-box-group-item">
                    <%= radio_button_tag :role, 'athlete', checked: true %>
                    <%= label_tag :role, 'Athlete', value: 'athlete' %>
                </div>
                <div class="check-box-group-item">
                    <%= radio_button_tag :role, 'coach' %>
                    <%= label_tag :role, 'Coach', value: 'coach' %>
                </div>
            </div>
            <div style="margin-top:1.5em;text-align:right;">
                <%= button_tag 'Cancel', type: :reset, class: 'button-default', onclick: "toggleModal('new-user')" %>
                <%= submit_tag('Invite User', class: 'button-primary') %>
            </div>
        <% end %>
    </div>
</div>
