<nav class="navbar-container">
    <div class="navbar">
        <div class="navbar-logo">
            <span>BADGERNET</span>
        </div>
        <div class="navbar-menu">
           <div class="navbar-menu-item"><%= link_to "HOME", root_path %></div>
           <div class="navbar-menu-item"><%= link_to "SCHEDULE", schedule_path %></div>
           <div class="navbar-menu-item"><%= link_to "ANNOUNCEMENTS", "/announcement" %></div>
           <div class="navbar-menu-item"><%= link_to "DOCUMENTS ", documents_path %></div>
           <div class="navbar-menu-item"><%= link_to "CONTACTS", contacts_path %></div>
           <div class="navbar-menu-item"><%= link_to "PERMISSIONS", permissions_path %></div>
        </div>
        <div class="navbar-profile">
            <span>Welcome, <%= defined?(current_user.first_name) ? current_user.first_name : 'user' %><br><a href="#">Settings</a> – <%= link_to('Logout', destroy_user_session_path, method: :delete) %></span>
            <img src="http://lorempixel.com/200/200" />
        </div>
    </div>
</nav>
