<!DOCTYPE html>
<html>
  <head>
    <title>BadgerNet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% unless request.path.include? '/users' %>
        <%= render 'layouts/navigation' %>
      <% else %>
        <%= render 'layouts/navigation_empty' %>
      <% end %>
    </header>

    <main class="main">
      <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "banner #{key}" %>
      <% end %>
      <%= yield %>
    </main>

  </body>
</html>
